{% extends "base_generic.html" %}

{% block content %}

  <br>

  <table style="border-collapse: collapse; width: 30%;" border="0">
    <tbody>
      <tr>
        <td style="width: 25%; min-width:325px;"><h5>For {{last_date}} taxes are:</h5></td>
        <td style="width: 5%; ">&nbsp;</td>
      </tr>
      <tr>
        <td style="width: 25%; min-width:325px;">first floor apartments: ({{ total_common_sum }} / 8) = </td>
        <td style="width: 5%; ">  {{ first_floor_apartments }}  </td>
      </tr>
      <tr>
        <td style="width: 25%; min-width:325px;">all other apartments: ({{ total_elevator_sum }} / 6) + {{ first_floor_apartments }} = </td>
        <td style="width: 5%; "> {{ elevator_apartments }}  </td>
      </tr>
    </tbody>
  </table>

  <br>

  <table style="border-collapse: collapse; width: 40%;" border="0">
    <tbody>
      <tr>
        <td style="width: 15%; min-width:130px;"><h5>Common:</h5></h5></td>
        <td style="width: 5%; min-width:60px;">  {{ total_common_sum }}  </td>
        <td style="width: 15%; min-width:150px;"><h5>Elevator:</h5></td>
        <td style="width: 5%;">  {{ total_elevator_sum }}  </td>
      </tr>
      <tr>
        <td style="width: 15%;">cleaner tax</td>
        <td style="width: 5%;">  {{ cleaner_tax }}  </td>
        <td style="width: 15%;">elevator tax:</td>
        <td style="width: 5%;">  {{ elevator_tax }}  </td>
      </tr>
      <tr>
        <td style="width: 15%;">stairs electricity:</td>
        <td style="width: 5%;">  {{ stairs_electricity }}  </td>
        <td style="width: 15%;">elevator electricity:</td>
        <td style="width: 5%;">  {{ elevator_electricity }}  </td>
      </tr>
      <tr>
        <td style="width: 15%;">other payments:</td>
        <td style="width: 5%;">  {{ other_common }}  </td>
        <td style="width: 15%;">other (elevator):</td>
        <td style="width: 5%;">  {{ other_elevator }}  </td>
      </tr>
      <tr>
        <td style="width: 15%;">comment:</td>
        <td style="width: 5%;">  {{ other_comment }}  </td>
        <td style="width: 15%;">comment:</td>
        <td style="width: 5%;">  {{ elevator_comment }}  </td>
      </tr>
    </tbody>
  </table>


{% endblock %}