{% extends "base_generic.html" %}

{% block content %}
  
  <h3>Homeland Manager</h3>

  <br>

  <h5>Due per apartments are:</h5>

  <ul>
    <li>first floor apartments (no elevator, 2 ap.): {{ total_common_sum }}</li>
    <li>all other apartments (elevator added, 6 ap.): {{ total_elevator_sum }}</li>
  </ul>
  
  <h5>Common taxes for all apartments are:</h5>

  <ul>
    <li>cleaner tax: {{ cleaner_tax }}</li>
    <li>stairs electricity: {{ stairs_electricity }}</li>
    <li>other payments: {{ other_common }}</li>
    <li>comment: {{ other_comment }}</li>
  </ul>

  <h5>Elevator only taxes are:</h5>

  <ul>
    <li>elevator tax: {{ elevator_tax }}</li>
    <li>elevator electricity: {{ elevator_electricity }}</li>
    <li>other (elevator): {{ other_elevator }}</li>
    <li>comment: {{ elevator_comment }}</li>
  </ul>

{% endblock %}